In [36]:
import pandas as pd

In [24]:
from nba_api.stats.static import players
player_dict = players.get_active_players()

print('Number of players fetched: {}'.format(len(player_dict)))

Number of players fetched: 519

In [25]:
nba_players = pd.DataFrame(player_dict)
nba_players.head()

        id                 full_name first_name         last_name  is_active
0   203500              Steven Adams     Steven             Adams       True
1  1628389               Bam Adebayo        Bam           Adebayo       True
2   200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
3  1629734            Kyle Alexander       Kyle         Alexander       True
4  1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True

In [26]:
nba_players.id = nba_players.id.astype('str')

In [27]:
nba_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          519 non-null    object
 1   full_name   519 non-null    object
 2   first_name  519 non-null    object
 3   last_name   519 non-null    object
 4   is_active   519 non-null    bool
dtypes: bool(1), object(4)
memory usage: 16.9+ KB

In [28]:
nba_players

          id                 full_name first_name         last_name  is_active
0     203500              Steven Adams     Steven             Adams       True
1    1628389               Bam Adebayo        Bam           Adebayo       True
2     200746         LaMarcus Aldridge   LaMarcus          Aldridge       True
3    1629734            Kyle Alexander       Kyle         Alexander       True
4    1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker       True
..       ...                       ...        ...               ...        ...
514   201152            Thaddeus Young   Thaddeus             Young       True
515  1629027                Trae Young       Trae             Young       True
516   203469               Cody Zeller       Cody            Zeller       True
517  1627790                Ante Zizic       Ante             Zizic       True
518  1627826               Ivica Zubac      Ivica             Zubac       True

[519 rows x 5 columns]

In [37]:
from nba_api.stats.endpoints import playerawards

playerawards.PlayerAwards(player_id='2544').get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
0,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Week,None,2008-09,None,2009-03-23T00:00:00,East,Award,Kia Motors,KIPWK,None
1,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Week,None,2008-09,None,2008-11-17T00:00:00,East,Award,Kia Motors,KIPWK,None
2,2544,LeBron,James,USA,Olympic Bronze Medal,None,2004,None,None,None,Award,Olympic,Bronze,None
3,2544,LeBron,James,Miami Heat,NBA Player of the Month,None,2012-13,12/01/2012,None,East,Award,Kia Motors,KIPMO,None
4,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2006-07,03/01/2007,None,East,Award,Kia Motors,KIPMO,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Week,None,2019-20,None,2019-12-09T00:00:00,West,Award,Kia Motors,KIPWK,None
142,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Week,None,2019-20,None,2019-12-30T00:00:00,West,Award,Kia Motors,KIPWK,None
143,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Month,None,2019-20,1/1/2020,None,West,Award,Kia Motors,KIPMO,None
144,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Month,None,2019-20,2/1/2020,None,West,Award,Kia Motors,KIPMO,None
145,2544,LeBron,James,Los Angeles Lakers,NBA Player of the Week,None,2019-20,None,2020-03-02T00:00:00,West,Award,Kia Motors,KIPWK,None

In [16]:
from nba_api.stats.static import teams 
teams_dict = teams.get_teams()

print('Number of teams fetched: {}'.format(len(teams_dict)))

Number of teams fetched: 30

In [17]:
nba_teams = pd.DataFrame(teams_dict)
nba_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [22]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,57,57,1960.0,518,...,0.851,127,404,531,179,83,137,139,145,1515

In [23]:
player_stats = []
for player in nba_players.id:
    player_stats.append(playercareerstats.PlayerCareerStats(player_id=player))

SSLError: HTTPSConnectionPool(host='stats.nba.com', port=443): Max retries exceeded with url: /stats/playercareerstats?LeagueID=&PerMode=Totals&PlayerID=202696 (Caused by SSLError(SSLError("bad handshake: SysCallError(60, 'ETIMEDOUT')")))

In [ ]:
player_stats.get_data_frames()[0]